/* SafeSanitized.css */

.SafeContainer {   
    padding: 20px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    text-align: left;
    color: #333; /* Set your desired text color */
  }
  
  .sanitizedCar {
    color:black; /* Set your desired heading color */
    font-size: 24px; /* Set your desired font size for the heading */
  }
  
  .car-subscription {
    font-size: 16px; /* Set your desired font size for the paragraph */
    line-height: 1.6; /* Set your desired line height for better readability */
    margin-top: 10px; /* Adjust spacing from heading */
  }
  
  .safeLi {
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Adjust spacing from paragraph */
  }
  
  .safeLi li {
    font-size: 14px; /* Set your desired font size for list items */
    margin-bottom: 8px; /* Adjust spacing between list items */
  }
  